.mybirder-loading {
  font-size: 50px;
  margin-left: 40px;
  margin-top: 20px;
}

.mybirder-fullpage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mybirder-innerpage {
  width: 80%;
  height: 100vh;
  background-color: #621B00;
  padding-bottom: 100px;
}

.mybirder-inner-colorpage {
  background-color: #621B00;
}

.mybirder-spacer {
  padding-bottom: 100px;
}

.mybirder-newest-oldest {
  background-color: rgb(213, 247, 255);
  font-size: 30px;
  padding: 5px;
  margin-bottom: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: 600;
}

.mybirder-sightings {
  margin-bottom: 10px;
}
