.about-div {
  background-color: rgb(255, 201, 53);
  margin: 10px;
  height: 150px;
  border-radius: 10px;
  display: block;
}

.about-user {
  margin-top: 30px;
  padding: 10px 35px;
  font-size: 25px;
  opacity: .5;
}

.about-details-header {
  padding-top: 10px;
  padding-left: 5px;
  font-size: 23px;
  font-weight: 600;
}

.about-details {
  margin-left: 20px;
  font-size: larger;
}
