.sighting-div {
  background-color: rgb(255, 201, 53);
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  display: block;
}

.sighting-user {
  margin-bottom: 5px;
  padding: 10px 35px;
  font-size: 25px;
  opacity: .5;
}

.sighting-address-header {
  padding-top: 10px;
  padding-left: 5px;
  font-size: 23px;
  font-weight: 600;
}

.sighting-address {
  margin-left: 20px;
  font-size: larger;
}

.sighting-details-header {
  padding-top: 10px;
  padding-left: 5px;
  font-size: 23px;
  font-weight: 600;
}

.sighting-details {
  margin-left: 20px;
  font-size: larger;
}

.sighting-edit-delete-div {
  margin-top: 5px;
}

.sighting-edit-button {
  width: 60px;
  height: 22px;
  border-radius: 7px;
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  margin-left: 5px;
}

.sighting-delete-button {
  width: 60px;
  height: 22px;
  border-radius: 7px;
  background-image: linear-gradient(0deg, rgb(248, 104, 104) 0%, rgb(247, 0, 0) 100%);
  margin-left: 5px;
}

.sighting-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sighting-comments-button {
  width: 120px;
  height: 22px;
  border-radius: 7px;
  background-image: linear-gradient(0deg, rgb(69, 228, 55) 0%, rgb(47, 182, 58)00%);
  margin-left: 5px;
}

.sighting-buttons-div {
  display: flex;
  align-items: flex-end;
}

.sighting-add-comment-button {
  margin-left: 120px;
  width: 105px;
  height: 25px;
  border-radius: 7px;
  background-color: green;
  background-image: linear-gradient(0deg, #1dc20e 0%, #33ff00 100%);
}

.sighting-address-details-form {
  display: flex;
  flex-direction: column;
}

.sighting-upload-address, .sighting-upload-details {
  margin-left: 20px;
  margin-right: 50%;
  max-height: 300px;
  max-width: 80%
}

.sighting-address-label, .sighting-details-label {
  margin-left: 10px;
}

.sighting-upload-create-button-link {
  margin-left: 10px;
  margin-top: 2px;
  width: 105px;
  height: 25px;
  border-radius: 7px;
  background-image: linear-gradient(0deg, #d0dd16 0%, #e5ff00 100%);
}

.sighting-upload-comment-form {
  display: flex;
  flex-direction: column;
}

.sighting-upload-body-textarea {
  margin-left: 20px;
  margin-right: 50%;
  max-height: 300px;
  max-width: 80%
}

.sighting-upload-body-label {
  margin-left: 10px;
  color: white;
}

.sighting-upload-body-submit {
  margin-left: 10px;
  margin-top: 2px;
  width: 105px;
  height: 25px;
  border-radius: 7px;
  background-image: linear-gradient(0deg, #d0dd16 0%, #e5ff00 100%);
}
