.discover-main-div {
  display: flex;
  margin: 30px;
  padding: 20px;
  border-radius: 20px;
  background-color: #621B00;
}

.discover-image-div {
  height: 400px;
  width: 700px;
}

.discover-image {
  height: 400px;
  border-radius: 5px;
}

.discover-main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  padding: 10px;
  background-color: rgb(97, 97, 97);
  flex-grow: 1;
  border-radius: 5px;
}

.discover-sound {
  margin: 10px;
}

.discover-description {
  width: 50vw;
  font-size: 20px;
  margin-left: 20px;
}

.discover-description-header {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 5px;
}

.discover-name {
  font-size: 30px;
  font-weight: 600;
  color: rgb(213, 247, 255);
  -webkit-text-stroke-width: .3px;
  -webkit-text-stroke-color: black;
}

.discover-name-link {
  text-decoration: none;
}

.discover-sname {
  font-size: 20px;
  font-weight: 600;
  margin-left: 15px;
  font-style: italic;
}

.discover-loading {
  font-size: 50px;
  margin-left: 40px;
  margin-top: 20px;
}
