.nav-bar-ul {
  list-style-type: none;
  background-color: #621B00;
  margin: 0px;
}

.nav-bar-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-right: 20px;
}

.login-button, .signup-button, .home-button, .about-button, .discover-button, .mybirder-button {
  margin-right: 20px;
  background-color: #cc7803;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  -webkit-text-stroke-width: .2px;
  -webkit-text-stroke-color: black;
}

.demouser-button {
  background-color: #cc7803;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  -webkit-text-stroke-width: .2px;
  -webkit-text-stroke-color: black;
}

.demouser-button:hover {
  cursor: pointer;
}

.profile-button-div {
  display: flex;
  justify-content: flex-end;
}

.profile-button {
  height: 30px;
  width: 30px;
  background-color: grey;
  border-radius: 5px;
}

.profile-button:hover {
  cursor: pointer;
}

.profile-dropdown {
  background-color: white;
  padding: 0px;
  border: 1px solid #333;
  border-radius: 2px;
  position: fixed;
  right: 20px;
  top: 38px;
}

.profile-dropdown > li {
  background-color: rgb(97, 97, 97);
  list-style-type: none;
  padding: 5px;
}

.profile-name {
  color: white;
}

.profile-email {
  color: white;
  text-decoration: none;
  border-top: 1px solid black;
}

.profile-logout {
  width: 70px;
  height: 22px;
  border-radius: 7px;
  background-image: linear-gradient(0deg, rgb(248, 104, 104) 0%, rgb(247, 0, 0) 100%);
  margin-left: 5px;
}

.navigation-discover-mybirder {
  margin-right: 120px;
}
